extends layout

block content
  main
    div#view
      h1.text-center= title
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          if bdBuilder != undefined
            li.breadcrumb-item
              a(href='/')
                i.fas.fa-home
            li.breadcrumb-item
              a(href='/'+currentFolder)=currentFolder
            each val in bdBuilder
              li.breadcrumb-item
                a(href=val.url)=val.name
          else
            li.breadcrumb-item
              a(href='/')
                i.fas.fa-home
            li.breadcrumb-item.active(aria-current='page') #{currentFolder}
      ul.innerList
        if data.length <= 0
          li No files in this folder
        else
          each val in data
            if val.isDir              
              a(href='#', rel="noopener noreferrer", class='query')
                li
                  span.fa.fa-folder.font-icon
                  span.textCon(title=val.name)=val.name
            else
              a(href=val.absPath, target="_blank", class='fileList', rel="noopener noreferrer")
                li
                  if val.fileType == 'img'
                    img.img-thumbnail.e-thumb(alt='val.name', src=val.absPath, title=val.name)
                    span.textCon(title=val.name)=val.name
                  else if val.fileType == 'vids'
                    video.vidHolder(width="190" height="114" controls="controls" preload="metadata")
                      source(src=val.absPath type="video/mp4")
                    span.textCon(title=val.name)=val.name
                  else if val.fileType == 'pdf'
                    span.fas.fa-file-pdf.font-icon
                    span.textCon(title=val.name)=val.name
                  else
                    span.fas.fa-file-alt.font-icon
                    span.textCon(title=val.name)=val.name