extends layout

block content
  main
    div#view
      h1.text-center= title
      nav(aria-label='breadcrumb')
        ol.breadcrumb
          if bdBuilder != undefined
            li.breadcrumb-item
              a(href='/')
                i.fas.fa-home
            li.breadcrumb-item
              a(href='/'+currentFolder)=currentFolder
            each val in bdBuilder
              li.breadcrumb-item
                a(href=val.url)=val.name
          else
            li.breadcrumb-item
              a(href='/')
                i.fas.fa-home
            li.breadcrumb-item.active(aria-current='page') #{currentFolder}
      ul.innerList
        if data.length <= 0
          li No files in this folder
        else
          each val in data
            if val.isDir              
              a(href='#', rel="noopener noreferrer", class='query')
                li
                  span.fa.fa-folder
                  span.textCon(title=val.name)=val.name
            else
              a(href=val.absPath, target="_blank", class='fileList', rel="noopener noreferrer")
                li
                  span.fa.fa-file
                  span.textCon(title=val.name)=val.name